@mixin flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
    }

@mixin flex-space-berween{
    display: flex;
    justify-content: space-between;
    align-items: center;
}