@import "variables";
@import "mixins";



h1 {
    color: #FFF;
    font-size: 50px;
    font-weight: 700;
    line-height: 28px;
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    max-width: 1460px;
    margin: 0 auto;
    padding: 0 20px;
}

.header {
@include flex-space-berween
}

body {
    background: $bcgd-color;
    font-family: 'Gilam', sans-serif;
}


.header_logo {
    width: 357px;
    height: 79px;
}

button {
    text-align: center;
}

.btn {
    border: 1px solid $yellow-color;
    color: $yellow-color;
    font-size: 18px;
    line-height: 30px;
    background: $bcgd-color;
    padding: 10px;
    cursor: pointer;
    font-family: 'Ballet', cursive;

}

a {
    &.btn {
        @include flex-center;
    }
}

a {
    & img {
        margin-left: 14px;
        margin-right: 8px;
    }
}



/*  */


.heating-networks_items {
    display: grid;
    grid-template-rows: repeat(2, 468px);
    grid-template-columns: repeat(6, 223px);
    gap: 24px;
    margin-bottom: 161px;
    grid-template-areas:
        "n1 n1 n2 n2 n3 n3"
        "n4 n4 n4 n5 n5 n5"
    ;
}

.heating-networks_text {
    & p 
    {
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    width: 1182px;
    margin: 43px 0 41px;
}
}

.networks-item1 {
    background: $brown-color;
    grid-area: n1;
}

.networks-item2 {
    background: #B4A385;
    grid-area: n2;
}

.networks-item3 {
    background: $yellow-color;
    grid-area: n3;
}

.networks-item4 {
    background: #635A4A;
    grid-area: n4;
}

.networks-item5 {
    background: #B08C4D;
    grid-area: n5;
}

.networks {
    @include flex-center;
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
}

/*  */


.construction-equipment_items {
    display: grid;
    margin: 94px 0 191px;
    grid-template-columns: repeat(3, 467px);
    grid-template-rows: 255px 29px 102px 102px 277px;
    gap: 26px;
}

.equipment {
    color: #FFF;
    font-size: 20px;
    font-weight: 500;
    padding-left: 52px;
    padding-top: 44px;
}

.kamaz {
    font-size: 20px;
    font-weight: 700;
}

.equipment-item1 {
    background: $black-color;
    grid-row: span 2;
    font-weight: 400;
}

.equipment-item2 {
    background: #242424;
    grid-row: span 3;
    font-weight: 400;
}

.equipment-item3 {
    background: #1F1F1F;

}

.equipment-item4 {
    background: $black-color;
    grid-row: span 3;
}

.equipment-item5 {
    background: #1F1F1F;
    grid-row: span 3;
}

.equipment-item6 {
    background: $yellow-color;
    grid-row: span 2;
    color: #000;
}

.equipment-item7 {
    background: #0A0909;
}

/*  */

.our-clients-project {
    background: $black-color;
}


.clients-and-projects_text {
    @include flex-space-berween;
    padding-top: 172px;

}

.btn-projects {
    padding: 10px 40px;
    width: 180px;
    height: 50px;

}

.clients-and-projects_items {
    display: grid;
    grid-template-rows: repeat(3, 391px);
    grid-template-columns: repeat(3, 487px);
    margin-top: 72px;


}

.clients {
    color: #FFF;
    text-align: center;
    font-size: 22px;
    font-weight: 500;
    line-height: 28px;
    @include flex-center;
    flex-direction: column;
  ;
}

.project1 {
    background: $brown-color;
}

.project2 {
    background: #E8D2AB;
    display: flex;
}

.project3 {
    background: $yellow-color;
}

.project4 {
    background: #635A4A;
}

.project5 {
    background: #B08C4D;
}

.project6 {
    background: $brown-color;
}

.project2 p {
    padding: 9px 80px 0;
}